<!-- Header -->
<div ng-include="'app/partials/header.html'"></div>
<!-- First row -->
<div ng-class="['first-row', 'row', 'no-gutter']">
    <div ng-class="['col-md-12', 'title']">
        <span>
            <a href="{{lang}}/{{corpusId}}">Corpus Web</a>
        </span>
        <span ng-class="['slash']">/</span>
        <span>
            <a href="{{lang}}/{{corpusId}}">{{corpora.title}}</a>
        </span>
        <div ng-class="['methodology']">
            <a href="{{lang}}/{{corpusId}}/methodology">Methodology</a>
        </div>
        <!-- <label ng-repeat="availableView in availableViews" ng-class="['btn', 'btn-default']" btn-radio="{{availableView}}" ng-model="currentView" ng-click="changeView('{{availableView}}');">
            <span ng-class="['glyphicon', 'glyphicon-th-large']" aria-hidden="true"></span>
        </label> -->
    </div>
</div>
<!-- Second row -->
<div ng-class="['row', 'no-gutter', 'corpus']">
    <div ng-class="['full-height', '{{availableView}}']" ng-show="availableView == currentView" ng-repeat="availableView in availableViews">
        <div ng-include="'app/partials/' + availableView + '.html'" ng-class="['full-height']"></div>
    </div>
</div>