<!-- Header -->
<div ng-include="'partials/header.html'"></div>
<div class="admin-page" layout="column">
    <div flex layout="column">
        Administration panel
        <div class="value">
            <select ng-model="corpusid" ng-options="corpusid as corpus.title for (corpusid, corpus) in corpora track by corpusid" ng-change="load()">
            </select>
        </div>
        <form class="corpus-form">
            <div class="row id">
                <div class="label">id</div>
                <div class="value">
                    <input type="text" ng-model="corpus.id">
                </div>
            </div>
            <div class="row title">
                <div class="label">title</div>
                <div class="value">
                    <input type="text" ng-model="corpus.title">
                </div>
            </div>
            <div class="row is-displayed">
                <div class="value">
                    <input type="checkbox" ng-model="corpus.isDiplayed" />
                </div>
                <div class="label">isDiplayed</div>
            </div>
            <div class="row">
                <div class="label">subtitle</div>
                <div class="value">
                    <textarea name="comment" row=4 ng-model="corpus.subtitle"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">prefix</div>
                <div class="value">
                    <input type="text" ng-model="corpus.prefix" />
                </div>
            </div>
            <div class="row">
                <div class="label">creation</div>
                <div class="value">
                    <input type="date" ng-model="corpus.creation" />
                </div>
            </div>
            <div class="row">
                <div class="label">update</div>
                <div class="value">
                    <input type="date" ng-model="corpus.update" />
                </div>
            </div>
            <div class="row">
                <div class="label">authors</div>
                <div class="value">
                    <textarea name="comment" ng-model="corpus.authors" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">size</div>
                <div class="value">
                    <input type="text" name="" ng-model="corpus.size">
                </div>
            </div>
            <div class="row">
                <div class="label">purpose</div>
                <div class="value">
                    <textarea ng-model="corpus.purpose" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">selection</div>
                <div class="value">
                    <textarea ng-model="corpus.selection" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">indexing</div>
                <div class="value">
                    <textarea ng-model="corpus.indexing" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">footnote</div>
                <div class="value">
                    <textarea ng-model="corpus.footnote" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">download</div>
                <div class="value">
                    <textarea ng-model="corpus.download" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="label">tools</div>
                <div class="value">
                    <label ng-repeat="(key, tool) in corpus.tools" class="tools group">
                        <div class="title">{{key + 1}}</div>
                        <div>
                            tool.name<br />
                            <input type="text" ng-model="tool.name" />
                        </div>
                        <div>
                            tool.url<br />
                            <input type="text" ng-model="tool.url" />
                        </div>
                    </label>
                    <md-button class="md-fab md-primary md-mini" aria-label="Add tool" target="_blank" ng-click="addTool()">
                        <md-icon>add</md-icon>
                        <md-tooltip md-direction="right">Add tool</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div class="row">
                <div class="label">defaultView</div>
                <div class="value">
                    <select ng-model="corpus.defaultView" ng-options="view.name as view.name for view in views">
                    </select>
                </div>
            </div>
            <div class="row available-views">
                <div class="label">availableViews</div>
                <div class="value">
                    <label ng-repeat="view in views">
                        <input type="checkbox" ng-model="view.isChecked" checklist-value="view.name"> {{view.name}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="label">fullTextSearchFields</div>
                <div class="value">
                </div>
            </div>
            <div class="row">
                <div class="label">categories</div>
                <div class="value">
                    <label ng-repeat="(categoryId, category) in corpus.categories" class="category group">
                        <div class="title">{{categoryId}}</div>
                        <div>
                            category.id<br />
                            <input type="text" name="" ng-model="category.id" />
                        </div>
                        <div>
                            category.label<br />
                            <input type="text" name="" ng-model="category.label" />
                        </div>
                        <div>
                            category.tooltip<br />
                            <input type="text" name="" ng-model="category.tooltip" />
                        </div>
                        <div>
                            category.isDiplayed<br />
                            <input type="text" name="" ng-model="category.isDiplayed" />
                        </div>
                        <div>
                            category.mappedField<br />
                            <input type="text" name="" ng-model="category.mappedField" />
                        </div>
                        <div>
                            category.mappedFieldId<br />
                            <input type="text" name="" ng-model="category.mappedFieldId" />
                        </div>
                        <div class="title">values</div>
                        <label ng-repeat="value in category.values" class="group">
                            <div>
                                category.value.id<br />
                                <input type="text" name="" ng-model="value.id" />
                            </div>
                            <div>
                                category.value.label<br />
                                <input type="text" name="" ng-model="value.label" />
                            </div>
                            <div>
                                <input type="checkbox" name="value-is-selected" ng-model="value.isSelected" />
                                category.value.isSelected
                            </div>
                            <div style="display: none;">
                                category.value.count<br />
                                <input type="text" name="" ng-model="value.count" />
                            </div>
                        </label>
                        <md-button class="md-fab md-primary md-mini" aria-label="Add value" target="_blank" ng-click="addCategoryValue(category)">
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="right">Add value</md-tooltip>
                        </md-button>
                    </label>
                    <md-button class="md-fab md-primary md-mini" aria-label="Add category" target="_blank" ng-click="addCategory()">
                        <md-icon>add</md-icon>
                        <md-tooltip md-direction="right">Add category</md-tooltip>
                    </md-button>
                </div>
            </div>
            <button type="submit" ng-click="save()">Sauvegarder</button>
        </form>
    </div>
</div>