#
# Mac files
# 
.DS_Store

#
# Data folder
#
data

#
# Bower components directory
#
bower_components

#
# Node modules directory
#
node_modules

#
# Conf files
#
conf/conf.js

#
# Images folder
#
images