/* app css stylesheet */

/* Class Tools */

.red {
    color: #e6142d;
}

.ellipsed,
.my-filters md-checkbox .md-label > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.separator {
    display: inline-block;
    height: 5px;
}

.no-border {
    border: none !important;
}

.no-uppercase {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}

/* tooltip background color */
md-tooltip .md-content {
    background-color: black;
    opacity: 1;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

/* General */

body {
    color: #343333;
    font-family: 'Roboto', sans-serif;
    /*font-size: 1.4em;*/
    margin: 0 auto;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
}

/* Change Placeholder default font */
*::-webkit-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

*:-ms-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

*:-moz-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

*::-moz-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

.right-col {
    border-left: 1px solid #EEE;
}


/* Fix focus */

*:focus {
    outline: none;
}

h1 {
    font-size: 3.2em;
    margin: 0 0 8px;
    padding: 0 5px 2px;
}

h1 > a:link,
h1 > a:visited {
    border: none;
}

a:link,
a:visited {
    color: #343333;
    text-decoration: none;
}

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu > li {
    display: inline;
}

@media (max-width: 767px) {
    .menu > li {
        float: left;
        width: 100%;
    }
}

.menu > li:nth-child(1):before {
    display: none;
}

.icon-flip-horizontal {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.subsubtitle {
    font-size: 0.45em;
    font-style: italic;
}

.foot-note {
    border-top: 1px solid #343333;
    font-size: small;
}

::-webkit-input-placeholder {
    color: #6c6c6c;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #6c6c6c;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #6c6c6c;
}

:-ms-input-placeholder {
    color: #6c6c6c;
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0 1px;
}


/* Header */

#header-inmedia_1 {
    background-color: white;
    height: 68px;
    margin-bottom: 3px;
}

@media (max-width: 767px) {
    #header-inmedia_1 {
        height: auto;
        padding-bottom: 5px;
    }
}

#logo-tools {
    border-bottom: 3px solid #e6142d;
    margin: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    #logo-tools {
        position: initial;
    }
}

.logo_scpo {
    padding: 0 15px;
    width: 11%;
}

@media (max-width: 767px) {
    .logo_scpo {
        float: left;
        margin: 6px;
        position: initial;
    }
}

.logo_scpo img {
    height: 29px;
    margin-bottom: 20px;
    margin-left: 18px;
    margin-top: 14px;
}

@media (max-width: 767px) {
    .logo_scpo img {
        margin: 0;
    }
}

ul#menu_appli {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 11px;
    width: 400px;
}

@media (max-width: 767px) {
    ul#menu_appli {
        margin: 0 0 5px 0;
    }
}

ul#menu_appli li a {
    color: #e6142d;
    display: inline;
    padding: 0;
}

ul#menu_appli li a::after {
    color: #343333;
    content: " |";
}

ul#menu_appli li:last-child a::after {
    content: "";
}

@media (max-width: 767px) {
    ul#menu_appli li a::after {
        content: "";
    }
}

.navbar {
    font-size: 0.8em;
    font-family: Roboto Condensed, sans-sefir;
    background-color: transparent;
    left: 67px;
    top: 8px;
}

@media (max-width: 767px) {
    .navbar {
        margin: 0 10px;
        padding: 0;
        position: initial;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: none;
    }
}

#cata_ent {
    border-radius: 5px;
    font-size: 14px;
    height: 45px !important;
    padding: 3px;
    position: relative;
    width: 585px;
}

@media (max-width: 767px) {
    #cata_ent {
        height: 165px !important;
        width: 100%;
    }
    #cata_ent > a {
        float: left;
        height: 32px;
        width: 100%;
    }
}

#social {
    float: left;
    position: relative;
    top: 10px;
}

.desc-appli {
    height: 68px;
    position: fixed;
    right: 30px;
    top: -5px;
    width: 250px;
}

@media (max-width: 767px) {
    .desc-appli {
        position: initial;
        text-align: center;
        width: initial;
    }
}

.horaire_bloc {
    background: #f6f4f3 url('http://sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/icones/schedule.png') no-repeat right top;
    background-size: 25px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    padding: 5px 2px 2px 3px;
    width: 228px;
}

.horaire_bloc h2 {
    left: -100000000000px;
    position: absolute;
}

.horaire_bloc a {
    color: #e6142d;
    font-style: italic;
    font-weight: bold;
}


/* Top bar */

.first-row {
    height: 70px;
}

.tab-row {
    height: 50px;
}

.first-row > div {
    margin: 0 10px;
}

.first-row h3 {
    margin-top: 16px;
    margin-bottom: 2px;
}

.first-row .creation-date {
    color: #999;
    font-family: Roboto Condensed;
}

.first-row .last-update {
    color: #999;
    font-family: Roboto Condensed;
    padding-left: 20px;
}

.first-row .methodology {
    height: 72px;
    overflow: hidden;
}

.first-row .methodology .title {
    font-size: 18px;
    padding-right: 10px;
}

.first-row .btn-view {
    padding: 5px;
}

.first-row .blockquote {
    background: #fff;
    color: #999;
    display:block;
    font-size: 16px;
    line-height: 1.2;
    padding: 15px 20px 15px 45px;
    position: relative;
    text-align: justify;
}

.first-row .blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #CCC;
    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
}

.first-row .blockquote::after{
    /*Reset to make sure*/
    content: "";
}

.first-row .blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

.first-row .blockquote a:hover{
    color: #666;
}

.first-row .blockquote em{
    font-style: italic;
}

.tab-row {
    border-bottom: 1px solid #EEE;
    bottom: 0;
}

/* Graph */

.sigma-tools {
    -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    left: 28px;
    position: absolute;
    top: 12px;
}

.sigma-tools .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.sigma-tools .btn-group .btn {
    background-color: white;
    background-color: white;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: transparent;
    border-width: 1px;
    padding: 1px 5px;
}

.sigma-tools md-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.legend {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px 1px 0 1px;
}

.legend .item {
    padding: 5px 10px;
}

.legend .item-color {
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.legend .item-label {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: calc(100% - 25px);
}


/* Filters */

.filters-unfolded {
    width: 100%;
    height: 100%;
}

.filter-categories {
    background-color: #FAFAFA;
    height: 100%;
    overflow-y: auto;
}

.filter-values {
    background-color: #FFF;
    height: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 6px;
    padding-bottom: 48px;
}

.filter-search-box {
    background-color: #FAFAFA;
    padding: 6px;
    height: 64px;
}

.filter-validate-box {
    text-align: center;
    padding-top: 12px;
}

.filter-category-box {
    background-color: #FAFAFA;
    padding: 6px;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
}

.filter-category-box:hover {
    background-color: #FFFFFF;
}

.filter-category-box.selected {
    background-color: #fdedd9;
}

.filter-category-label {
    font-size: 1.4em;
}

.filter-category-subtitle {
    opacity: 0.8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.filter-category-badge-container {
    padding-top: 12px;
    padding-bottom: 6px;
}

.filter-values label {
    font-weight: normal;
    padding: 0;
    width: 90%;
}

.filter-values md-progress-linear {
    width: 85%;
}

.filter-values md-progress-linear .md-container {
    width: 98%;
}

.filter-values md-progress-linear.pink .md-bar {
    background-color: #F6A5CB;
}
.filter-values md-progress-linear.yellow .md-bar {
    background-color: #E6E174;
}
.filter-values md-progress-linear.green .md-bar {
    background-color: #83E7CC;
}
.filter-values md-progress-linear.orange .md-bar {
    background-color: #FBA995;
}
.filter-values md-progress-linear.brown .md-bar {
    background-color: #CEA764;
}
.filter-values md-progress-linear.purple .md-bar {
    background-color: #BEAFD7;
}

.filter-values .count-percent {
    font-size: 10px;
    line-height: 5px;
}

.collapsed-filters-container {
    background-color: #FAFAFA;
}

.collapsed-filters {
    padding: 6px;
}

.my-filters {
    background-color: white;
}

.my-filters .search-bottom {
    background-color: #78909c;
    color: #FFF;
    cursor: pointer;
    height: 64px;
}

.my-filters .search-bottom .results-number {
    text-align: center;
    font-family: Roboto Condensed, sans-serif;
    /* font-weight: 300; */
    font-size: 36px;
    padding-top: 6px;
}

.my-filters .search-bottom .more-filters {
    font-style: italic;
    padding-right: 50px;
}


/* MyFilters part : Search */

.my-filters .filtered-by {
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    padding: 2px 0 2px 15px;
}

/* Collapsed filters */

.collapsed-filters-search-row {
    height: 64px;
    padding: 6px 6px 0px 6px;
}

.collapsed-filters-buttons-row {
    padding-bottom: 12px;
}


/* MyFilters part : Checkboxes */

.my-filters .checkbox {
    margin: 5px 0;
}

.my-filters md-checkbox {
    margin-bottom: 6px;
    width: 85%;
}

.my-filters md-checkbox .md-icon {
    transform: scale(1.1, 1.1);
}

.my-filters md-checkbox .md-label {
    margin-left: 25px;
    margin-top: -7px;
    width: 90%;
}

.my-filters md-checkbox .md-label > span,
.my-filters md-checkbox .md-label > div {
    margin-top: -3px;
}

.my-filters .all md-checkbox .md-label > span {
    margin-top: 4px;
}

.my-filters .key-color {
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px;
}

.my-filters .checkbox {
    cursor: default;
}

.my-filters .checkbox.all {
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
}

.my-filters .category-value.disable {
    color: #A6ACAF;
}

.my-filters .category-name {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}


/* Filters badge */

.filter-badge {
    width: 160px;
    height: 36px;
    padding: 4px 4px 3px 6px;
    /*border: 1px solid #DDD;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    background-color: #FFF;
}
.filter-badge-title {
    margin-top: -2px;
    width: 125px;
    height: 14px;
    font-size: 0.72em;
    opacity: 0.6;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.filter-badge-content {
    width: 125px;
    margin-top:-2px;
    height: 18px;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.filter-badge-close {
    width: 35px;
}


/* Tiles */

.corpus .tiles {
    overflow-y: scroll;
    padding: 6px;
}

.grid-list {
    text-align: center;
}

@media (max-width: 767px) {
    md-grid-list {
        margin-left: 10px;
        margin-right: 10px;
    }
}

md-grid-tile {
    cursor: pointer;
}

md-grid-tile figure {
    overflow: hidden;
}

a.md-button.md-primary.md-fab.tile-link {
    position: absolute;
    right: 0;
    bottom: 3px;
}

.tile-footer {
    height: 64px;
    padding: 0 10px;
    font-family: Roboto Condensed, sans-serif;
    color: #333;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+50&0+0,0.5+20,0.9+50,1+100 */
    background: -moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0.5) 20%, rgba(238,238,238,0.85) 40%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,0.5) 20%,rgba(238,238,238,0.85) 40%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,0.5) 20%,rgba(238,238,238,0.85) 40%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.tile-footer figcaption {
    position: absolute;
    left: 10px;
    top: 24px;
    bottom: 6px;
    right: 52px;
    text-align: left;
}

.tile-footer .actors-type {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entities-list {
    height: 300px;
    overflow: auto;
}

.entities-list img {
    padding: 10px 0;
}

.entities-list div {
    padding: 0 10px;
    width: 77%;
}

.gray-tile {
    background-color: #EEE;
}

.gray-tile:hover {
    background-color: #DDD;
}

.gray-tile .grayscale {
    max-width:100%;
    /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
    -webkit-filter: grayscale(95%) opacity(30%);
    /* for IE6+ */
    filter: grayscale(95%) opacity(30%);
}

.gray-tile:hover .grayscale {
    /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
    -webkit-filter: grayscale(20%) opacity(70%);
    /* this is for IE6, Firefox 3.5+, Firefox mobile */
    filter: grayscale(20%) opacity(70%);
}

.tile-footer h3 {
    font-size: 0.95em;
    font-weight: bold;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Map */

#map {
    background-color: white;
}

#map .background {
    fill: none;
    pointer-events: all;
}

#map #countries path {
    fill: #ddd;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
}

#map #countries path.hover {
    fill: #78909c;
}

#map pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 9.5px;
}

.country-tooltip {
    position: absolute;
    text-align: center;
    height: 18px;
    padding: 1px;
    font-size: 10px;
    background: white;
    border: 1px solid black;
}


/* Corpus Page */

.presentation {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.presentation .nodes-color label {
    font-weight: normal;
    margin-bottom: 0;
}

.presentation .nodes-color button {
    margin-bottom: 0;
}

.graph {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    margin: 0 -2px;
    position: relative;
    width: 100%;
}


/* Webentity Page */

.webentity {
    overflow-y: scroll;
}

.webentity .title {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.webentity .abstract {
    padding: 5px;
}

.webentity .metadata {
    padding: 5px;
}

.webentity .metadata .table {
    font-size: 15px;
    line-height: 20px;
}

.webentity .metadata .table .name {
    border-top: 1px solid #ddd;
    text-align: right;
    width: 30%;
}

.webentity .metadata .table .value {
    border-top: 1px solid #ddd;
    padding-left: 5px;
    position: relative;
}

.webentity .metadata .table .value .icon {
    bottom: 0;
    position: absolute;
    right: 5px;
}

.webentity .thumbnail {
    padding: 10px;
    text-align: center;
}

.webentity .thumbnail img {
    width: 100%;
}

.webentity .neighbors li.collapse.in {
    display: list-item;
}


/* Methodology Page */

.methodology-content {
    overflow-y: auto;
    padding: 12px;
}

/* Welcome Page */

.content.welcome .corpus:not(:first-child) {
    padding-top: 25px;
}

.content.welcome .corpus .title {
    font-size: 24px;
    line-height: 40px;
}

.content.welcome .corpus .tool md-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg); /* Others */
}


/* List Page */

.list {
    overflow-y: auto;
}

.list table {
    margin: 15px;
}

.list .thumbnail {
    border: none;
}