<!-- Header -->
<div ng-include="'app/partials/header.html'"></div>
<!-- Content -->
<!-- First row -->
<div ng-class="['row', 'content', 'no-gutter']">
    <!-- Left column -->
    <div ng-class="['col-md-5', 'no-gutter', 'full-height']">
        <!-- Corpus Header -->
        <div ng-class="['presentation']">
            <div ng-class="['title']">
                <h2 ng-class="['no-gutter']">{{corpora.title}}</h2>
            </div>
            <div ng-class="['subtitle']">
                <h3 ng-class="['no-gutter']">{{corpora.subtitle}}</h2>
            </div>
            <div ng-class="['read-more']">
                <a href="description">Read more ...</a>
            </div>
            <div ng-class="['btn-group', 'views']">
                <label ng-class="['btn', 'btn-default']" btn-radio="'grid'" ng-model="view" ng-change="changeView('grid')">
                    <span ng-class="['glyphicon', 'glyphicon-th-large']" aria-hidden="true"></span>
                </label>
                <label ng-class="['btn', 'btn-default']" btn-radio="'list'" ng-model="view" ng-change="changeView('list')">
                    <span ng-class="['glyphicon', 'glyphicon-th-list']" aria-hidden="true"></span>
                </label>
                <label ng-class="['btn', 'btn-default']" btn-radio="'graph'" ng-model="view" ng-change="changeView('graph')">
                    <span ng-class="['glyphicon', 'glyphicon-stop']" aria-hidden="true"></span>
                </label>
            </div>
        </div>
    </div>
    <!-- Right column -->
    <div ng-class="['col-md-7', 'no-gutter', 'full-height']">
        <!-- Filters -->
        <div ng-class="['filters']">
            <div ng-class="['row', 'col-md-offset-3', 'col-md-6', 'search-bar']">
                <md-input-container md-no-float>
                    <span ng-class="['glyphicon', 'glyphicon-search', 'icon-flip-horizontal']" aria-hidden="true"></span>
                    <span><input ng-model="queryTerm" type="text" placeholder="What are you looking for ?" ng-change="filter();" ng-class="['full-width']"/></span>
                </md-input-container>
            </div>
            <div ng-class="['no-gutter', 'facets']">
                <!-- The first label is always shown -->
                <div ng-class="['row', 'no-gutter']">
                    <div ng-repeat="category in categories" ng-class="['advanced-search']">
                        <div ng-attr-collapse="{{ $index >= categoryQuantity ? 'isCollapsed' : '' }}">
                            <label ng-class="['col-md-3', 'no-gutter', 'ellipsed']">{{category.label}}</label>
                            <div ng-class="['col-md-9', 'no-gutter']">
                                <div ng-repeat="value in category.values | limitTo:categoryItemsQuantity" ng-class="['checkbox-inline', 'col-md-3', 'category-value', 'no-gutter']">
                                    <input id="{{value.id}}" type="checkbox" name="{{category.id}}" ng-model="value.isSelected" ng-change="filter(category.id, value.id);" />
                                    <span ng-class="['category-name', 'ellipsed']">{{value.label}} </span>
                                    <span ng-class="['category-count']"><em>({{value.count}})</em></span>
                                </div>
                            </div>
                            <div class="separator" ng-if="!isCollapsed" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="['search-bottom']">
                <div ng-class="['pull-left', 'results-number']">
                    <ng-pluralize count="resultsNumber" when="{'0': 'No result found', '1': '1 result found', 'other': '{} results found'}"></ng-pluralize>
                </div>
                <div ng-class="['pull-right', 'more-filters']" ng-click="moreFilters()">{{filtersLabel}}</div>
            </div>
        </div>
    </div>
</div>
<!-- Second row -->
<div ng-class="['row', 'no-gutter', 'corpus']">
    <div ng-switch on="view" ng-class="['full-height']">
        <div ng-switch-when="grid" ng-class="['full-height']">
            <div ng-include="'app/partials/grid.html'" ng-class="['full-height']"></div>
        </div>
        <div ng-switch-when="list" ng-class="['full-height']">
            <div ng-include="'app/partials/list.html'" ng-class="['full-height']"></div>
        </div>
        <div ng-switch-when="graph" ng-class="['full-height']">
            <div ng-include="'app/partials/graph.html'" ng-class="['full-height']"></div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>