<!-- Header -->
<div ng-include="'partials/header.html'"></div>
<div flex layout="column">
    <!-- First row -->
    <top-bar
        corpus="corpus"
        lang="lang"
        corpus-id="corpusId"
    ></top-bar>
    <!-- Second row -->
    <div class="legalnotice-content">
        <div>
            <h3>MENTIONS LÉGALES</h3>
            <span>
                Ce site internet est hébergé par la Fondation nationale des sciences politiques (ci-après « la FNSP » ou « la Fondation »), dont le siège est au 27, rue Saint Guillaume 75337 Paris Cedex 07.<br />
                Tel. : +33 1 45 49 50 50<br />
                Fax. : +33 1 42 22 31 26<br />
            </span>
            <span>
                Directeur de la publication et de l’édition :<br />
                FNSP, représentée par François Cavalier, Directeur de la Direction des Ressources et de l’Information Scientifique (DRIS).<br />
            </span>
            <span>
                Hébergement et stockage des données :<br />
                FNSP, représentée par Stéphane Auzanneau, Directeur de la Direction des Systèmes d’Information (DSI).
            </span>
            <h3>DROIT DE PROPRIÉTÉ INTELLECTUELLE</h3>
            <span>
                L’interface publique (Front Office) appelée CorpusWeb est un projet développé par la Direction des Ressources et de l'Information Scientifique (DRIS) de Sciences Po et dédié à la visualisation et à la manipulation des corpus web. CorpusWeb est un logiciel gratuit réalisé sous licence <a href="https://github.com/SciencesPoDRIS/corpusweb/blob/master/LICENSE.LGPL" target="_blank">LGPL</a> & <a href="https://github.com/SciencesPoDRIS/corpusweb/blob/master/LICENSE.CECILL-C" target="_blank">CECILL-C</a>. Son code source est disponible sur <a href="https://github.com/SciencesPoDRIS/corpusweb" target="_blank">GitHub</a>.<br />
            </span>
            <span>
                Les données des corpus font l’objet de conditions d’utilisation spécifiques. Merci de vous reporter à la page Methodology de chaque corpus.<br />
            </span>
            <span>
                Tous les autres éléments (logo, bandeau et éléments de la charte graphique de Sciences Po) sont la propriété exclusive de la FNSP. Leur utilisation ou reproduction par quelque procédé que ce soit, est strictement interdite et constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle, sauf accord préalable et écrit de la FNSP.
            </span>
            <h3>LIENS HYPERTEXTES</h3>
            <span>
                Le site contient des liens hypertextes vers d’autres sites web. La responsabilité de la FNSP ne saurait cependant être engagée au titre d’un site tiers auquel l’utilisateur a eu accès via le site et qui présenterait des contenus illicites ou inexacts. En effet, la FNSP ne dispose d’aucun moyen de contrôle du contenu des sites tiers. La décision d'activer ou non ces liens hypertextes appartient donc exclusivement aux utilisateurs. De même, la responsabilité de la FNSP ne saurait être recherchée pour indisponibilité ou dysfonctionnement de ces sites tiers.
            </span>
            <h3>PROTECTION DES DONNÉES PERSONNELLES</h3>
            <span>
                Aucune information personnelle n'est collectée à votre insu ni cédée à des tiers.
            </span>
            <h3>LOI APPLICABLE – JURIDICTION COMPÉTENTE</h3>
            <span>
                Les présentes clauses contractuelles sont soumises au droit français.<br />
                Tout litige relatif aux clauses contractuelles du site relèvera de la compétence des juridictions françaises.
            </span>
            <h3>CREDITS</h3>
            <span>
                Site Corpus Web : DRIS, <a href="http://www.medialab.sciences-po.fr/fr/people/mathieu-jacomy/" target="_blank">Mathieu Jacomy</a> (<a href="http://www.medialab.sciences-po.fr/" target="_blank">médialab</a>).<br />
                Données : voir la page Methodology de chaque corpus.
            </span>
        </div>
    </div>
</div>