<!-- Header -->
<div ng-include="'partials/header.html'"></div>
<div flex layout="column">
    <!-- First row -->
    <top-bar
        corpus="corpus"
        lang="lang"
        corpus-id="corpusId"
    ></top-bar>
    <!-- Second row -->
    <div class="legalnotice-content">
        <div>
            <h3>1. MENTIONS LÉGALES</h3>
            <span>
                Ce site internet est hébergé par la Fondation nationale des sciences politiques (ci-après « la FNSP » ou « la Fondation »), dont le siège est au <br />
                27, rue Saint Guillaume 75337 Paris Cedex 07.<br />
                Tel. : +33 1 45 49 50 50<br />
                Fax. : +33 1 42 22 31 26<br />
                Numéro Siren : 784308249<br />
                Numéro TVA intracommunautaire : FR27784308249<br /><br />
                Responsable de traitement :<br />
                Fondation Nationale des Sciences Politiques représentée par Frédéric Mion, Administrateur.<br /><br />
                Directeur de la publication et de l’édition :<br />
                FNSP, représentée par François Cavalier, Directeur de la Direction des Ressources et de l’Information Scientifique (DRIS).<br /><br />
                Hébergement et stockage des données :<br />
                FNSP, représentée par Stéphane Auzanneau, Directeur de la Direction des Systèmes d’Information (DSI).
            </span>
            <h3>2. INFORMATIQUE ET LIBERTÉS</h3>
            <h4>2.1 Déclaration CNIL</h4>
            <span>
                En conformité avec les dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement automatisé des données nominatives réalisé à partir du site  a fait l’objet d’un enregistrement au registre des traitements de données tenu par le Correspondant Informatique et Libertés de la FNSP.
            </span>
            <h4>2.2 Données nominatives</h4>
            <span>
                Les traitements automatisés de données nominatives réalisés à partir du site web ont été traités en conformité avec les exigences de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés.<br /><br />
                L'utilisateur est notamment informé que conformément à l'article 32 de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés, les informations qu'il communique par le biais des formulaires présents sur le site sont destinées à la Fondation Nationale des Sciences Politiques, en tant que responsable du traitement, ainsi qu’à ses partenaires et prestataires de services informatiques, à des fins de gestion administrative et scolaire (tels que : la diffusion des résultats et des notes, le suivi de carrière et des dons, l’attribution des bourses, le handicap éventuel des étudiants, l’inscription à la bibliothèque, l’annuaire, l’envoi de newsletter), de recherche et statistique et à des fins d’assistance informatique.<br /><br />
                L'utilisateur est informé qu'il dispose d'un droit d'accès, d'interrogation et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer les données personnelles le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte, l'utilisation, la communication ou la conservation est interdite.<br />
                L'utilisateur dispose également d'un droit d'opposition au traitement de ses données pour des motifs légitimes ainsi qu'un droit d'opposition à ce que ces données soient utilisées à des fins de prospection commerciale.<br /><br />
                L'ensemble de ces droits s'exerce auprès de la Fondation Nationale des Sciences Politiques par courrier accompagné d'une copie d'un titre d'identité comportant une signature à adresser à :<br />
                Fondation Nationale des Sciences Politiques<br />
                27, rue Saint Guillaume<br />
                75337 Paris Cedex 07<br />
                Ou à l’adresse email suivante :<br />
                <a href="cnil@sciences-po.fr">cnil@sciences-po.fr</a><br /><br />
                Les données à caractère personnel collectées sur le site par la Fondation Nationale des Sciences Politiques font l’objet d’un traitement en France.<br />
                Les utilisateurs du site web sont tenus de respecter les dispositions de la loi relative à l’informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales.<br />
                Ils doivent notamment s’abstenir, s’agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
            </span>
            <h3>3. COOKIES</h3>
            <span>
                L’utilisateur est informé que, lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation. Le cookie est un bloc de données qui ne permet pas d’identifier l’utilisateur ; en revanche, le cookie stocke des informations relatives à votre navigation sur le site (les pages que vous avez consultées, la date et l'heure de la consultation, etc.). La Fondation Nationale des Sciences Politiques pourra lire ces informations lors de vos prochaines visites.<br /><br />
                Le paramétrage du logiciel de navigation permet d’être informé de la présence du cookie et éventuellement de le refuser (se reporter à la notice d’aide de son logiciel de navigation).<br />
                Le cookie collectant indirectement des informations nominatives concernant l’utilisateur, ce dernier dispose également d’un droit de consultation, de retrait et de modification.<br /><br />
                Vous pouvez vous opposer à l'enregistrement des cookies en paramétrant votre navigateur de la manière suivante :<br /><br />
                Pour Mozilla firefox :<br />
                -   Choisissez le menu "outil " puis "Options"<br />
                -   Cliquez sur l'icône "vie privée"<br />
                -   Repérez le menu "cookie" et sélectionnez les options qui vous conviennent<br /><br />
                Pour Microsoft Internet Explorer :<br />
                -   Choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options").<br />
                -   Cliquez sur l'onglet "Confidentialité" (ou "Confidentiality")<br />
                -   Sélectionnez le niveau souhaité à l'aide du curseur<br />
                La durée de conservation de ces informations dans votre ordinateur est de 6 mois.
            </span>
            <h3>4. CONDITIONS D'ACCÈS ET D'UTILISATION</h3>
            <span>
                L’utilisateur du site reconnaît disposer de la compétence et des moyens nécessaires pour accéder à et utiliser ce site.<br/>
                L'utilisateur du site internet reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu'elle est en parfait état de fonctionnement.
            </span>
            <h3>5. MISE EN GARDE GÉNÉRALE</h3>
            <span>
                La Fondation Nationale des Sciences Politiques met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés. Malgré tous les soins apportés, les informations sont fournies sans garantie d'aucune sorte.<br/>
                Elles sont non contractuelles, peuvent contenir des inexactitudes techniques ou typographiques et sont sujettes à modification sans préavis. La Fondation Nationale des Sciences Politiques ne saurait être tenue pour responsable des erreurs, d’une absence de disponibilités des informations, exactitudes, mises à jour, complétudes et/ou de la présence d’un virus sur son site.<br /><br />
                La Fondation Nationale des Sciences Politiques invite les utilisateurs du site à lui faire part d’éventuelles omissions, erreurs ou corrections, en adressant un courrier électronique à : <a href="cnil@sciences-po.fr">cnil@sciences-po.fr</a>.<br/>
                De même, la Fondation Nationale des Sciences Politiques ne peut être tenue responsable en cas de mauvaise utilisation du service par l’utilisateur ou en cas d’indisponibilité temporaire du service (cas de force majeure, de période de maintenance ou d’incident technique, quel qu’il soit).<br /><br />
                Il est expressément entendu par l'utilisateur de ce site qu'en aucun cas la Fondation Nationale des Sciences Politiques ne peut être tenue responsable des dommages quelconques, directs ou indirects, matériels ou immatériels résultant notamment de la consultation et/ou de l'utilisation de ce site web (ou d'autres sites qui lui sont liés) et des éventuelles applications en téléchargement, comme de l'utilisation des informations textuelles ou visuelles, qui auraient pu être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d'information.<br /><br />
                En utilisant ce site, l’utilisateur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.
            </span>
            <h3>6. DROIT DE PROPRIÉTÉ INTELLECTUELLE</h3>
            <span>
                L’interface publique (Front Office) appelée CorpusWeb est un projet développé par la Direction des Ressources et de l'Information Scientifique (DRIS) de Sciences Po et dédié à la visualisation et à la manipulation des corpus web. CorpusWeb est un logiciel gratuit réalisé sous licence <a href="https://github.com/SciencesPoDRIS/corpusweb/blob/master/LICENSE.LGPL" target="_blank">LGPL</a> & <a href="https://github.com/SciencesPoDRIS/corpusweb/blob/master/LICENSE.CECILL-C" target="_blank">CECILL-C</a>. Son code source est disponible sur <a href="https://github.com/SciencesPoDRIS/corpusweb" target="_blank">GitHub</a>.<br /><br />
                Les éléments relevant de la charte graphique de Sciences Po sont la propriété exclusive de la Fondation Nationale des Sciences Politiques.<br/>
                Les marques de la Fondation Nationale des Sciences Politiques et de ses partenaires, ainsi que les logos figurant sur le site, sont des marques (semi-figuratives ou non) déposées.<br/>
                Toute utilisation ou reproduction, totale ou partielle de ces éléments (logo, bandeau et éléments de la charte graphique de Sciences Po) par quelque procédé que ce soit, est strictement interdite et constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle, sauf accord préalable et écrit de la Fondation Nationale des Sciences Politiques.<br /><br />
                Les données des corpus font l’objet de conditions d’utilisation spécifiques. Merci de vous reporter à la page Methodology de chaque corpus.
            </span>
            <h3>7. LIENS HYPERTEXTES</h3>
            <span>
                Le site contient des liens hypertextes vers d’autres sites web. La responsabilité de la FNSP ne saurait cependant être engagée au titre d’un site tiers auquel l’utilisateur a eu accès via le site et qui présenterait des contenus illicites ou inexacts. En effet, la FNSP ne dispose d’aucun moyen de contrôle du contenu des sites tiers. La décision d'activer ou non ces liens hypertextes appartient donc exclusivement aux utilisateurs. <br/>
                De même, la responsabilité de la FNSP ne saurait être recherchée pour indisponibilité ou dysfonctionnement de ces sites tiers.<br/><br/>
                La Fondation Nationale des Sciences Politiques s’engage à faire cesser les liens vers d’autres sites internet dès la première demande des entreprises à qui appartiennent les sites faisant l’objet de liens.<br/>
                La Fondation Nationale des Sciences Politiques doit donner son autorisation par écrit préalablement à la mise en place d’un lien hypertexte en direction du site et se réserve la possibilité de faire supprimer ce lien à tout moment.
            </span>
            <h3>8. LOI APPLICABLE – JURIDICTION COMPÉTENTE</h3>
            <span>
                Les présentes clauses contractuelles sont soumises au droit français.<br />
                Tout litige relatif aux clauses contractuelles du site relèvera de la compétence des juridictions françaises.
            </span>
            <h3>9. CREDITS</h3>
            <span>
                Site Corpus Web : <a href="http://www.sciencespo.fr/bibliotheque/">DRIS</a>, <a href="http://www.medialab.sciences-po.fr/fr/people/mathieu-jacomy/" target="_blank">Mathieu Jacomy</a> (<a href="http://www.medialab.sciences-po.fr/" target="_blank">médialab</a>).<br />
                Données : voir la page Methodology de chaque corpus.<br/><br/>
            </span>
            <span>
                Mise à jour des mentions légales : 04/04/2018
            </span>
        </div>
    </div>
</div>