<!-- Header -->
<div ng-include="'partials/header.html'"></div>
<!-- First row -->
<!-- <div ng-class="['first-row']" layout="row">
    <div ng-class="['title']" flex="40">
        <div ng-class="['pull-right']">
            <label ng-repeat="availableView in corpora.availableViews" ng-class="['btn', 'btn-default', 'btn-view']" btn-radio="{{availableView}}" ng-model="currentView" ng-click="changeView(availableView);">
                <md-icon ng-if="availableView == 'grid'">view_module</md-icon>
                <md-icon ng-if="availableView == 'list'">view_week</md-icon>
                <md-icon ng-if="availableView == 'graph'">bubble_chart</md-icon>
                <md-icon ng-if="availableView == 'map'">public</md-icon>
            </label>
        </div>
        <span>
            <a href="{{lang}}">Corpus Web</a>
        </span>
        <span ng-class="['slash']">></span>
        <span>
            <a href="#/{{lang}}/{{corpusId}}">{{corpora.title}}</a>
        </span>
        <div>
            <span ng-class="['creation-date']">Date de création : {{corpora.creation}}</span>
            <span ng-class="['last-update']">Date de mise à jour : {{corpora.update}}</span>
        </div>
    </div>
    <div layout="60">
        <div ng-class="['methodology']">
            <a href="{{lang}}/{{corpusId}}/methodology">
                <span ng-class="['title']">Methodology</span>
                <span ng-class="['subtitle']" ng-bind-html="subtitle"></span>
                <span> [...]</span>
            </a>
        </div>
    </div>
</div> -->
<top-bar
    corpus="corpus"
    lang="lang"
    corpus-id="corpusId"
    current-view="currentView"
></top-bar>
<!-- Second row -->
<div ng-class="['row', 'content', 'full-height', 'webentity', 'no-gutter']">
    <div ng-class="['col-sm-12', 'col-md-6', 'no-gutter', 'full-height']">
        <!-- Graph -->
        <my-graph corpus-id="corpusId" corpora="corpora" />
        <div ng-class="['row', 'no-gutter', 'abstract']">
            <div>Abstract</div>
            <div>
                {{webEntity.ABSTRACT}}
            </div>
        </div>
    </div>
    <div ng-class="['col-sm-12', 'col-md-6', 'no-gutter', 'full-height']">
        <div ng-class="['title']">{{webEntity.FULL_NAME}}</div>
        <div ng-class="['metadata']">
            <table ng-class="['table', 'table-hover']">
                <tr>
                    <td ng-class="['name', 'col-md-4']">URL</td>
                    <td ng-class="['value']"><a title="{{webEntity.FULL_NAME}} | New window" href="{{webEntity.URL}}" target="_blank">{{webEntity.URL}}</a></td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Actor's Type</td>
                    <td ng-class="['value']">{{webEntity.ACTORS_TYPE_2 | translate:this:'actorsType2'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Indegree</td>
                    <td ng-class="['value']">{{webEntity.INDEGREE}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Country</td>
                    <td ng-class="['value']">{{webEntity.COUNTRY | translate:this:'country'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Anthropogenic Climate Change</td>
                    <td ng-class="['value']">{{webEntity.ANTHROPOGENIC_CLIMATE_CHANGE | translate:this:'anthropogenicClimateChange'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Mitigation / Adaptation</td>
                    <td ng-class="['value']">{{webEntity.MITIGATION_ADAPTATION | translate:this:'mitigationAdaptation'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Language</td>
                    <td ng-class="['value']">{{webEntity.LANGUAGE | translate:this:'language'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Collection</td>
                    <td ng-class="['value']">{{webEntity.COLLECTION | translate:this:'collection'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Abstract</td>
                    <td ng-class="['value']">{{webEntity.ABSTRACT}}</td>
                </tr>
                <tr ng-class="['neighbors']">
                    <td ng-class="['name', 'col-md-4']">Neighbors</td>
                    <td ng-class="['value']">
                        <ul ng-class="['col-md-11']">
                            <li ng-repeat="node in webEntity.NEIGHBORS" ng-attr-collapse="{{$index >= neighborsQuantity ? 'isCollapsed' : ''}}">
                                <a title="{{node.attributes.FULL_NAME}} | New window" href="{{node.attributes.URL}}" target="_blank">
                                        {{node.attributes.FULL_NAME}}</a> ({{node.attributes.ACTORS_TYPE_2 | translate:this:'actorsType2'}})
                                </a>
                            </li>
                        </ul>
                        <div ng-class="['col-md-1', 'icon']" ng-click="collapse()">
                            <i class="material-icons" ng-if="!isCollapsed">keyboard_arrow_up</i>
                            <i class="material-icons" ng-if="isCollapsed">keyboard_arrow_down</i>
                        </div>
                    </td>
                </tr>
            </table>
            <div ng-class="['thumbnail']">
                <img src="http://manet.medialab.sciences-po.fr/?url={{result.URL}}&width=1024&height=768&clipRect=0,0,1024,768&format=jpg&quality=0.3"></img>
                <span ng-class="['italic']">Thumbnail of the targeted website</span>
            </div>
        </div>
    </div>
</div