<!-- Header -->
<div ng-include="'app/partials/header.html'"></div>
<!-- First row -->
<div ng-class="['first-row', 'row', 'no-gutter']">
    <div ng-class="['col-md-9', 'title']">
        <span>
            <a href="{{lang}}/{{corpusId}}">Corpus Web</a>
        </span>
        <span ng-class="['slash']">/</span>
        <span>
            <a href="{{lang}}/{{corpusId}}">{{corpora.title}}</a>
        </span>
        <!-- <label ng-repeat="availableView in availableViews" ng-class="['btn', 'btn-default']" btn-radio="{{availableView}}" ng-model="currentView" ng-click="changeView('{{availableView}}');">
            <span ng-class="['glyphicon', 'glyphicon-th-large']" aria-hidden="true"></span>
        </label> -->
    </div>
    <div ng-class="['col-md-3']">
        <div ng-class="['methodology']">
            <a href="{{lang}}/{{corpusId}}/methodology">
                <div ng-class="['title']">Methodology</div>
                <div ng-class="['subtitle']" ng-bind-html="subtitle"></div>
            </a>
        </div>
    </div>
</div>
<!-- Second row -->
<div ng-class="['row', 'content', 'full-height', 'webentity', 'no-gutter']">
    <div ng-class="['col-sm-12', 'col-md-6', 'no-gutter', 'full-height']">
        <div ng-class="['row', 'graph', 'no-gutter']">
            <div id="graph"></div>
            <div ng-class="['sigma-tools']">
                <div ng-class="['btn-group-vertical']">
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaCenter();" tooltip-placement="right" tooltip="Center">
                        <span ng-class="['glyphicon', 'glyphicon-record']"></span>
                    </button>
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaZoom();" tooltip-placement="right" tooltip="Zoom">
                        <span ng-class="['glyphicon', 'glyphicon-plus']"></span>
                    </button>
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaUnzoom();" tooltip-placement="right" tooltip="Unzoom">
                        <span ng-class="['glyphicon', 'glyphicon-minus']"></span>
                    </button>
                </div>
            </div>
        </div>
        <div ng-class="['row', 'no-gutter', 'abstract']">
            <div>Abstract</div>
            <div>
                {{webEntity.ABSTRACT}}
            </div>
        </div>
    </div>
    <div ng-class="['col-sm-12', 'col-md-6', 'no-gutter', 'full-height']">
        <div ng-class="['metadata']">
            <table ng-class="['table', 'table-hover']">
                <tr ng-repeat="(key, value) in webEntity">
                    <td ng-class="['name', 'col-md-4']">{{key}}</td>
                    <td ng-class="['value']">{{value}}</td>
                </tr>
                <!--
                <tr>
                    <td ng-class="['name', 'col-md-4']">URL</td>
                    <td ng-class="['value']"><a title="{{webEntity.FULL_NAME}} | New window" href="{{webEntity.URL}}" target="_blank">{{webEntity.URL}}</a></td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Actor's Type</td>
                    <td ng-class="['value']">{{webEntity.ACTORS_TYPE_2 | translate:this:'actorsType2'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Indegree</td>
                    <td ng-class="['value']">{{webEntity.INDEGREE}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Country</td>
                    <td ng-class="['value']">{{webEntity.COUNTRY | translate:this:'country'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Anthropogenic Climate Change</td>
                    <td ng-class="['value']">{{webEntity.ANTHROPOGENIC_CLIMATE_CHANGE | translate:this:'anthropogenicClimateChange'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Mitigation / Adaptation</td>
                    <td ng-class="['value']">{{webEntity.MITIGATION_ADAPTATION | translate:this:'mitigationAdaptation'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Language</td>
                    <td ng-class="['value']">{{webEntity.LANGUAGE | translate:this:'language'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Collection</td>
                    <td ng-class="['value']">{{webEntity.COLLECTION | translate:this:'collection'}}</td>
                </tr>
                <tr>
                    <td ng-class="['name', 'col-md-4']">Abstract</td>
                    <td ng-class="['value']">{{webEntity.ABSTRACT}}</td>
                </tr>
                <tr ng-class="['neighbors']">
                    <td ng-class="['name', 'col-md-4']">Neighbors</td>
                    <td ng-class="['value']">
                        <ul ng-class="['col-md-11']">
                            <li ng-repeat="node in webEntity.NEIGHBORS" ng-attr-collapse="{{$index >= neighborsQuantity ? 'isCollapsed' : ''}}">
                                <a title="{{node.attributes.FULL_NAME}} | New window" href="{{node.attributes.URL}}" target="_blank">
                                        {{node.attributes.FULL_NAME}}</a> ({{node.attributes.ACTORS_TYPE_2 | translate:this:'actorsType2'}})
                                </a>
                            </li>
                        </ul>
                        <div ng-class="['col-md-1', 'icon']" ng-click="collapse()">
                            <i class="material-icons" ng-if="!isCollapsed">keyboard_arrow_up</i>
                            <i class="material-icons" ng-if="isCollapsed">keyboard_arrow_down</i>
                        </div>
                    </td>
                </tr>
                -->
            </table>
            <div ng-class="['thumbnail']">
                <img src="http://www.robothumb.com/src/?url={{webEntity.URL}}&size=560x420"></img>
                <span ng-class="['italic']">Thumbnail of the targeted website</span>
            </div>
        </div>
    </div>
</div>