<!-- Header -->
<div ng-include="'app/partials/header.html'"></div>
<!-- Content -->
<div ng-class="['row', 'content', 'full-height', 'webentity']">
    <backtocorpus />
    <div id="{{webEntity.ID}}" ng-class="['title']">
        <h3>{{webEntity.FULL_NAME}}</h3>
    </div>
    <div ng-class="['row', 'no-gutter']">
        <div ng-class="['col-md-6', 'no-gutter', 'full-height']">
            <div ng-class="['graph']">
                <div id="graph"></div>
                <div ng-class="['sigma-tools']">
                    <div ng-class="['btn-group-vertical']">
                        <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaCenter();" tooltip-placement="right" tooltip="Center">
                            <span ng-class="['glyphicon', 'glyphicon-record']"></span>
                        </button>
                        <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaZoom();" tooltip-placement="right" tooltip="Zoom">
                            <span ng-class="['glyphicon', 'glyphicon-plus']"></span>
                        </button>
                        <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaUnzoom();" tooltip-placement="right" tooltip="Unzoom">
                            <span ng-class="['glyphicon', 'glyphicon-minus']"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="['col-sm-12', 'col-md-6', 'no-gutter', 'full-height']">
            <div ng-class="['metadata']">
                <table ng-class="['table', 'table-hover']">
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Url</td>
                        <td ng-class="['value']"><a title="{{webEntity.FULL_NAME}} | New window" href="{{webEntity.URL}}" target="_blank">{{webEntity.URL}}</a></td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Actor's Type</td>
                        <td ng-class="['value']">{{webEntity.ACTORS_TYPE_2 | translate:'actorsType2'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Indegree</td>
                        <td ng-class="['value']">{{webEntity.INDEGREE}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Country</td>
                        <td ng-class="['value']">{{webEntity.COUNTRY | translate:'country'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Area</td>
                        <td ng-class="['value']">{{webEntity.AREA | translate:'area'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Anthropogenic Climate Change</td>
                        <td ng-class="['value']">{{webEntity.ANTHROPOGENIC_CLIMATE_CHANGE | translate:'anthropogenicClimateChange'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Mitigation / Adaptation</td>
                        <td ng-class="['value']">{{webEntity.MITIGATION_ADAPTATION | translate:'mitigationAdaptation'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Industrial Delegation</td>
                        <td ng-class="['value']">{{webEntity.INDUSTRIAL_DELEGATION | translate:'industrialDelegation'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Thematic Delegation</td>
                        <td ng-class="['value']">{{webEntity.THEMATIC_DELEGATION | translate:'thematicDelegation'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Language</td>
                        <td ng-class="['value']">{{webEntity.LANGUAGE | translate:'language'}}</td>
                    </tr>
                    <tr>
                        <td ng-class="['name', 'col-md-4']">Collection</td>
                        <td ng-class="['value']">{{webEntity.COLLECTION | translate:'collection'}}</td>
                    </tr>
                    <!-- <tr>
                        <td ng-class="['name', 'col-md-4']">Abstract</td>
                        <td ng-class="['value']">{{webEntity.ABSTRACT}}</td>
                    </tr> -->
                </table>
                <div ng-class="['thumbnail']">
                    <img src="http://www.robothumb.com/src/?url={{webEntity.URL}}&size=560x420"></img>
                </div>
            </div>
        </div>
    </div>
</div>