<!-- Legend -->
<div ng-class="['col-md-12', 'no-gutter', 'legend']">
    <div ng-repeat="item in legend" ng-class="['item', 'pull-left', 'col-md-3']">
        <div ng-class="['item-color']" style="background-color: {{item.color}};"></div>
        <span ng-class="['item-label', 'ellipsed']">
            <md-tooltip md-direction="left">
                {{item.label}}
            </md-tooltip>
            {{item.label}}
        </span>
    </div>
</div>
<div ng-class="['col-md-12', 'no-gutter', 'full-height']">
    <!-- Graph -->
    <my-graph corpus-id="corpusId" corpora="corpora" />
</div>