<!-- Left column -->
<div flex="40">
    <!-- Presentation -->
    <div class="presentation" layout="row">
        <div class="nodes-color" flex="50">
            <label>Nodes Color</label>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="no-uppercase" aria-label="selectedCategory">
                    {{selectedCategory}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="category in categories | displayedCategories:corpora.categories">
                        <md-button id="{{category.id}}" ng-click="changeNodesColor($event)">{{category.label}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex="50">
            {{initResultsCount}} nodes
        </div>
    </div>
    <!-- Legend -->
    <div class="legend" layout="row">
        <div ng-repeat="item in legend" class="item pull-left" flex="25">
            <div class="item-color" style="background-color: {{item.color}};"></div>
            <span class="item-label ellipsed">
                <md-tooltip md-direction="right">
                    {{item.label}}
                </md-tooltip>
                {{item.label}}
            </span>
        </div>
    </div>
    <!-- Graph -->
    <my-graph corpus-id="corpusId" corpora="corpora" />
</div>
<!-- Right column -->
<div flex="60">
    <div>
        <my-filters categories="corpora.categories" query-term="$parent.$parent.queryTerm" corpus-id="corpusId" filtered-results-count="filteredResultsCount" prefix="corpora.prefix" />
    </div>
    <!-- Tiles -->
    <div class="full-height tiles">
        <div class="full-height">
            <div class="grid-list full-height">
                <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="5" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="10px">
                    <md-grid-tile id="{{result.ID}}" ng-repeat="result in displayedResults" md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="gray">
                        <a href="{{lang}}/{{corpusId}}/{{result.ID}}" target="_blank" class="fit">
                            <img class="fit grayscale" ng-src="http://manet.medialab.sciences-po.fr/?url={{result.URL}}&width=500&clipRect=0,0,1024,768&quality=0.3"></img>
                            <md-button class="md-fab md-primary md-mini tile-link" aria-label="add" ng-href="{{result.URL}}" target="_blank">
                                <md-icon>link</md-icon>
                            </md-button>
                            <md-grid-tile-footer class="tile-footer">
                                <h3>{{result.FULL_NAME}}</h3>
                                <p class="actors-type">{{result.ACTORS_TYPE | translate:this:'actorsType'}}</p>
                            </md-grid-tile-footer>
                        </a>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
</div>