<!-- Left column -->
<div ng-class="['col-md-7', 'no-gutter', 'full-height']">
    <!-- Presentation -->
    <div ng-class="['row', 'no-gutter', 'presentation']">
        <div ng-class="['col-md-6', 'nodes-color']">
            <label>Nodes Color</label>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" ng-class="['no-uppercase']" aria-label="selectedCategory">
                    {{selectedCategory}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="category in categories">
                        <md-button id="{{category.id}}" ng-click="changeNodesColor($event)">{{category.label}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div ng-class="['col-md-6']">{{initResultsCount}} nodes</div>
    </div>
    <!-- Legend -->
    <div ng-class="['row', 'no-gutter', 'legend']">
        <div ng-repeat="item in legend" ng-class="['item', 'pull-left', 'col-md-3']">
            <div ng-class="['item-color']" style="background-color: {{item.color}};"></div>
            <span ng-class="['item-label', 'ellipsed']" uib-tooltip="{{item.label}}" tooltip-placement="bottom-left">{{item.label}}</span>
        </div>
    </div>
    <!-- Graph -->
    <my-graph corpus-id="corpusId" corpora="corpora" />
</div>
<!-- Right column -->
<div ng-class="['col-md-5', 'no-gutter', 'full-height']">
    <div ng-class="['row', 'no-gutter', 'full-height']">
        <my-filters categories="corpora.categories" query-term="$parent.$parent.queryTerm" corpus-id="corpusId" filtered-results-count="filteredResultsCount" prefix="corpora.prefix" />
    </div>
    <!-- Tiles -->
    <div ng-class="['row', 'full-height', 'tiles']">
        <div ng-class="['full-height']">
            <div ng-class="['row', 'grid-list', 'no-gutter', 'full-height']" flex="">
                <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="10px">
                    <md-grid-tile id="{{result.ID}}" ng-repeat="result in displayedResults" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="['gray']">
                        <a href="{{lang}}/{{corpusId}}/{{result.ID}}">
                            <img ng-class="['fit', 'grayscale']" src="http://manet.medialab.sciences-po.fr/?url={{result.URL}}&width=500&clipRect=0,0,1024,768&quality=0.3"></img>
                            <md-button ng-class="['md-fab', 'md-primary', 'md-mini', 'tile-link']" aria-label="add" ng-href="{{result.URL}}" target="_blank">
                                <md-icon>link</md-icon>
                            </md-button>
                            <md-grid-tile-footer ng-class="['tile-footer']">
                                <h3>{{result.FULL_NAME}}</h3>
                                <p ng-class="['actors-type']">{{result.ACTORS_TYPE | translate:this:'actorsType'}}</p>
                            </md-grid-tile-footer>
                        </a>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
</div>