<!-- Left column -->
<div ng-class="['col-md-7', 'no-gutter', 'full-height']" ng-controller="mapController">
    <!-- Graph -->
    <div id="map" ng-class="['full-height']">
    </div>
</div>
<!-- Right column -->
<div ng-class="['col-md-5', 'no-gutter', 'full-height']">
    <!-- Filters -->
    <div ng-class="['row', 'no-gutter', 'full-height']">
        <my-filters categories="categories" query-term="$parent.$parent.queryTerm" corpus-id="corpusId" filtered-results-count="filteredResultsCount"/>
    </div>
    <!-- Tiles -->
    <div ng-class="['row', 'no-gutter', 'full-height', 'tiles']">
        TILES
        <div ng-class="['full-height']">
            <div ng-class="['row', 'grid-list', 'no-gutter']" flex="">
                <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="10px">
                    <md-grid-tile id="{{result.ID}}" ng-repeat="result in displayedResults" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="['gray']">
                        <!-- <a href="{{lang}}/{{corpusId}}/{{result.ID}}"> -->
                            <img ng-class="['fit', 'grayscale']" src="http://www.robothumb.com/src/?url={{result.URL}}&size=320x240"></img>
                            <md-grid-tile-footer ng-class="['tile-footer']">
                                <h3>{{result.FULL_NAME}}</h3>
                                <p ng-class="['actors-type']">{{result.ACTORS_TYPE | translate:this:'actorsType'}}</p>
                            </md-grid-tile-footer>
                        <!-- </a> -->
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
</div>