<!-- Left column -->
<div ng-class="['col-md-5', 'no-gutter', 'full-height']" ng-controller="mapController">
    <!-- Map -->
    <div id="map" ng-class="['full-height']">
    </div>
</div>
<!-- Right column -->
<div ng-class="['col-md-7', 'no-gutter', 'full-height']">
    <!-- Filters -->
    <div ng-class="['row', 'no-gutter', 'full-height']">
        <my-filters categories="corpora.categories" corpus-id="corpusId" filtered-results-count="filteredResultsCount" prefix="corpora.prefix" />
    </div>
    <!-- Tiles -->
    <div ng-class="['row', 'no-gutter', 'full-height', 'tiles']">
        <div ng-class="['full-height']">
            <div ng-class="['row', 'grid-list', 'no-gutter', 'full-height']" flex="">
                <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="5" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="10px">
                    <md-grid-tile id="{{result.ID}}" ng-repeat="result in displayedResults" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="['gray-tile']">
                        <a href="#/{{lang}}/{{corpusId}}/map/{{result.ID}}" target="_blank" ng-class="['fit']">
                            <img ng-class="['grayscale']" src="http://manet.medialab.sciences-po.fr/?url={{result.URL}}&width=1024&height=768&clipRect=0,0,1024,768&format=jpg&quality=0.3"></img>
                            <md-button ng-class="['md-fab', 'md-primary', 'md-mini', 'tile-link']" aria-label="link" ng-href="{{result.URL}}" target="_blank">
                                <md-icon>link</md-icon>
                            </md-button>
                            <md-grid-tile-footer ng-class="['tile-footer']">
                                <h3>{{result.FULL_NAME}}</h3>
                                <p ng-class="['actors-type']">{{result.ACTORS_TYPE | translate:this:'actorsType'}}</p>
                            </md-grid-tile-footer>
                        </a>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
    </di