<div ng-class="['my-filters']">
    <div ng-class="['col-md-12', 'search-bar']">
        <md-input-container md-no-float>
            <md-icon ng-class="['icon-flip-horizontal']">search</md-icon>
            <span>
                <input ng-model="$parent.$parent.$parent.$parent.queryTerm" type="text" placeholder="Search" ng-class="['full-width']"/>
            </span>
        </md-input-container>
    </div>
    <div ng-class="['no-gutter', 'col-md-12', 'facets', 'full-height']">
        <div ng-class="['row', 'no-gutter', 'full-height']">
            <div ng-if="isCollapsed">
                <div
                    ng-repeat="category in categories"
                    ng-if="category.isDiplayed"
                    class="collapsed-filters"
                >
                    <filter-category-badge
                        category="$parent.category"
                    ></filter-category-badge>
                </div>
            </div>
            <div ng-if="!isCollapsed" class="filters-unfolded" layout="row">
                <div flex="40" class="filter-categories" layout="column">
                    <div
                        ng-repeat="category in categories"
                        class="advanced-search filter-category-box {{category.id}}"
                        ng-class="{'highlighted': category.isHighlighted, 'selected': currentCategoryId == category.id}"
                        ng-if="category.isDiplayed"
                        ng-model="categories"
                        ng-click="setCategory(category.id)"
                    >
                        <md-tooltip md-direction="right">
                            {{category.tooltip}}
                        </md-tooltip>
                        <div class="filter-category-label">
                            <md-icon ng-show="category.isHighlighted">star</md-icon>
                            {{category.label}}
                            <md-icon class="pull-right" ng-show="currentCategoryId == category.id">keyboard_arrow_right</md-icon>
                        </div>
                        <div class="filter-category-subtitle">{{category.valuesPreview}}</div>
                        <div>
                            <filter-category-badge
                                category="category"
                            ></filter-category-badge>
                        </div>
                    </div>
                </div>
                <div flex="60" class="filter-values">
                    <div ng-if="currentCategoryId" class='{{currentCategoryId}}'>
                        <h3>{{categories[currentCategoryId].label}}</h3>
                        <div ng-class="['checkbox', 'all']">
                            <md-checkbox
                                aria-label="Select All"
                                ng-checked="allChecked[currentCategoryId]"
                                md-indeterminate="indeterminate[currentCategoryId]"
                                ng-click="toggleSelectAll(currentCategoryId);"
                            >
                                Select All
                            </md-checkbox>
                        </div>
                        <br>
                        <div
                            ng-repeat="value in $parent.categories[currentCategoryId].values"
                            ng-class="['category-value', 'no-gutter', {'disable' : value.count == 0}]"
                            ng-model="$parent.value"
                        >
                            <div ng-class="['checkbox']">
                                <md-tooltip md-direction="left">
                                    {{value.label}}
                                </md-tooltip>
                                <md-checkbox
                                    ng-model="value.isSelected"
                                >
                                    {{value.label}}
                                    <div ng-class="'{{value.colorClass}}'">
                                        <span ng-class="['pull-right', 'count-percent']">{{value.count_percent}}%</span>
                                        <md-progress-linear md-mode="determinate" value="{{value.count_percent}}"></md-progress-linear>
                                    </div>
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="['no-gutter', 'col-md-12', 'search-bottom']">
        <div ng-class="['pull-left', 'results-number']">
            <ng-pluralize count="filteredResultsCount" when="{'0': 'No result found', '1': '1 result found', 'other': '{} results found'}"></ng-pluralize>
        </div>
        <div ng-class="['pull-right', 'more-filters']" ng-click="moreFilters();">
            {{filtersLabel}}
            <md-icon ng-show="isCollapsed">keyboard_arrow_down</md-icon>
            <md-icon ng-show="!isCollapsed">keyboard_arrow_up</md-icon>
        </div>
    </div>
</div>