<div class="graph" layout-fill>
    <div id="graph" layout-fill></div>
    <div class="sigma-tools">
        <div class="btn-group">
            <button type="button" class="btn" ng-click="sigmaCenter();">
                <md-tooltip md-direction="right">
                    Center
                </md-tooltip>
                <md-icon>adjust</md-icon>
            </button>
            <button type="button" class="btn" ng-click="sigmaZoom();">
                <md-tooltip md-direction="right">
                    Zoom
                </md-tooltip>
                <md-icon>add</md-icon>
            </button>
            <button type="button" class="btn" ng-click="sigmaUnzoom();">
                <md-tooltip md-direction="right">
                    Unzoom
                </md-tooltip>
                <md-icon>remove</md-icon>
            </button>
        </div>
    </div>
</div>