<div class="top-bar">
    <div class="first-row" layout="row">
        <div class="title" flex="40">
            <h3>
                <a href="#/{{lang}}/{{corpusId}}">{{corpus.title}}</a>
            </h3>
            <div>
                <span class="creation-date">Créé le {{corpus.creation}}</span>
                <span class="last-update">Mis à jour le {{corpus.update}}</span>
            </div>
        </div>
        <div flex="60">
            <div class="methodology">
                <a href="#/{{lang}}/{{corpusId}}/methodology" class="blockquote" >
                    <span ng-bind-html="corpus.subtitle | renderHtml"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-row" layout="row">
        <div flex>
            <md-tabs>
                <md-tab
                    ng-repeat="tab in tabList"
                    label="{{tab.label}}"
                    md-active="tab.active"
                    ng-click="tab.onClick()"
                    class="md-primary"
                ></md-tab>
            </md-tabs>
        </div>
    </div>
</div>